body {
    background-image: url('./images/Printable-Valentine_s-Day-Coloring-Page-Page-5-768x594.jpg');
    background-color: pink;
    text-align: center;
    margin-top: 200px;
    font-family: 'Courier New', Courier, monospace;
    color: red;
    font-size: 20px;
}